:root {
  --maroon1: #604326;
  --marron2: #9f7957;
  --marron3: #ddb794;
  --marron4: #faece0;
  --marron5: #6c4019;
  --amarillo: #efb40d;
  --background: #d9d9d9;
  --background: #ffffff;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: gray;
}
#container {
  width: 1440px;
  margin: 0 auto;
}
header {
  height: 103px;
  background: #faece0;
  width: 1440px;
}
a {
  color: white;
}
#contenedorLogo {
  display: inline;
  width: 133px;
  height: 68px;
  margin-left: 60px;
}
#logo {
  width: 133px;
  height: 68px;
  margin-top: 17px;
}
.nombre {
  font-size: 27px;
  font-weight: bold;
  color: var(--marron5);
  display: inline-block;
  position: absolute;
  width: 243px;
  height: 67px;
  margin-top: 17px;
}
#content {
  width: 1440px;
  height: 600px;
  background-image: url(imagenes/Fondo.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
#descripcion1 {
  width: 1346px;
  height: 69px;
  border: 1px;
  font-size: 75px;
  font-weight: 790;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: 47px;
  text-align: center;
  color: #ffffff;
  padding-top: 100px;
}
#descripcion2 {
  width: 1346px;
  height: 69px;
  border: 1px;
  font-size: 75px;
  font-weight: 790;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: 47px;
  text-align: center;
  color: #ffffff;
  padding-top: 100px;
}
#descripcion3 {
  width: 1346px;
  height: 69px;
  border: 1px;
  font-size: 50px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  padding-top: 120px;
  font-weight: bolder;
}
#logos {
  width: 1440px;
  height: 160px;
  background: #ffffff;
}
.logo-marca {
  width: 350px;
  display: inline-block;
  text-align: center;
}
.logo {
  width: 155px;
  height: 155px;
  text-align: center;
  margin: 0 10px;
}
#productos {
  width: 1440px;
  height: 557px;
  background: #ddb794;
}
.productos-2 {
  width: 346px;
  height: 369px;
  border-radius: 5px;
  background: #ffffff;
  display: inline-block;
  text-align: center;
  margin-top: 94px;
  margin-left: 100px;
}
.imagen-producto {
  width: 180px;
  height: 180px;
  text-align: center;
  margin-top: 30px;
}
button {
  background: #6c4019;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  width: 156px;
  height: 57px;
  border-radius: 12px;
  color: #efb40d;
}
#contactos {
  width: 1440px;
  height: 172px;
  background: #4c3212;
}
#contactos-1 {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #ffffff;
  padding-top: 33px;
  font-weight: 300px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-align: center;
}
#foot {
  width: 1440px;
  height: 51px;
  background: #ffffff;
}
#foot-1 {
  width: 580px;
  height: 26px;
  font-size: 10px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.06em;
  text-align: center;
  margin-left: 430px;
  padding-top: 12px;
}
